* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 150px;
}

body {
    background-color: #005f73;
}

h1 {
    display: inline-block;
    color: #005f73;
    background: #d2cccc;
    padding: 5px 20px;
    border-radius: 10px 20px 30px 20px;
    font-size: 2em;
    margin-bottom: 15px;
}

#sonuc {
    width: 120px;
    height: 120px;
    border: none;
    font-size:3em;
    background: #0a9396;
    color:#e9d8a6;
    border-radius: 100px;
    margin-bottom: 15px;
}

button {
    background-color: #ee9b00;
    color: #3d3d3d;
    width: 100px;
    font-size: 16px;
    border-radius: 7px;
}

.keys {
    position: relative;
    top: 1vh;
}